@use "../variables/" as *;

.give-me-jokes {
  background-color: $background-secondary;
  margin: 8px;
  padding: 24px 0;

  @include tablet {
    padding: 64px 0;
  }

  &__initial {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }
  &__header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 40px;
  }

  &__title {
    margin: 0 0 20px 0;
    color: $black;
  }

  &__text {
    margin: 0 0 32px 0;
    color: $black;
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;

    select {
      padding: 16px 24px;
      background-color: $background-main;
      width: 150px;
      border: none;
      gap: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%231a1a1a' stroke-width='2'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 12px center;

      &:focus {
        outline: none;
      }
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 64px auto;
    max-width: 1200px;
  }

  &__joke {
    background-color: $background-main;
    padding: 32px 48px;
    text-align: center;
    min-height: 200px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      padding: 54px 48px;
    }

    &-type {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-bottom: 16px;
      text-transform: uppercase;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $black;
        border-radius: 50%;
      }
    }

    &-setup {
      margin: 0 0 8px 0;
      color: $black;
    }

    &-punchline {
      margin: 0;
      color: $black;
    }
  }

  &__content {
    .give-me-jokes__button {
      display: block;
      margin: 0 auto;
    }
  }
}
