@use "./colors" as *;
@use "./mixins" as *;
@use "./fonts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: $background-main;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 1392px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
