// //Font families
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$ff-primary: "Lora", sans-serif;
$ff-secondary: "Poppins", sans-serif;

// Font sizes
$fs-9: 9px;
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-22: 22px;
$fs-23: 23px;
$fs-24: 24px;
$fs-25: 25px;
$fs-26: 26px;
$fs-28: 28px;
$fs-29: 29px;
$fs-30: 30px;
$fs-32: 32px;
$fs-34: 34px;
$fs-35: 35px;
$fs-36: 36px;
$fs-38: 38px;
$fs-40: 40px;
$fs-44: 44px;
$fs-45: 45px;
$fs-48: 48px;
$fs-49: 49px;
$fs-56: 56px;
$fs-60: 60px;
$fs-64: 64px;
$fs-72: 72px;
$fs-77: 77px;
$fs-80: 80px;
$fs-83: 83px;
$fs-150: 150px;

//Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Line heights
$lh-12: 12px;
$lh-14: 14px;
$lh-15: 15px;
$lh-16: 16px;
$lh-17: 17px;
$lh-18: 18px;
$lh-19: 19px;
$lh-20: 20px;
$lh-21: 21px;
$lh-22: 22px;
$lh-23: 23px;
$lh-24: 24px;
$lh-25: 25px;
$lh-26: 26px;
$lh-27: 27px;
$lh-28: 28px;
$lh-29: 29px;
$lh-30: 30px;
$lh-31: 31px;
$lh-32: 32px;
$lh-34: 34px;
$lh-35: 35px;
$lh-36: 36px;
$lh-38: 38px;
$lh-39: 39px;
$lh-40: 40px;
$lh-41: 41px;
$lh-42: 42px;
$lh-43: 43px;
$lh-45: 45px;
$lh-47: 47px;
$lh-48: 48px;
$lh-49: 49px;
$lh-56: 56px;
$lh-60: 60px;
$lh-64: 64px;
$lh-63: 63px;
$lh-73: 73px;
$lh-76: 76px;
$lh-94: 94px;
$lh-104: 104px;
