@use "../variables" as *;

.button {
  color: $black;
  background-color: $yellow;
  padding: 14px 32px;
  cursor: pointer;
  font-family: $ff-secondary;
  font-weight: $fw-bold;
  font-size: $fs-16;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;

  &:hover {
    cursor: pointer;
    color: $yellow;
    background-color: $black;
  }
}
