@use "../variables/" as *;

.footer {
  padding: 64px 16px;
  background-color: $background-secondary;
  margin: 0 8px 8px;

  &__container {
    padding: 0;
  }

  &__content {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid $background-main;
  }

  &__logo {
    max-width: 266px;
    height: auto;
  }

  &__text {
    color: $black;
    max-width: 542px;
    width: 100%;
    text-align: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 8px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__links {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__link {
    font-family: $ff-secondary;
    font-size: $fs-13;
    font-weight: $fw-regular;
    line-height: normal;
    color: $black;
    text-decoration: none;
    cursor: pointer;
  }

  &__copyright {
    font-family: $ff-secondary;
    font-size: $fs-13;
    font-weight: $fw-regular;
    line-height: normal;
    color: $black;
  }
}
